.ui {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    pointer-events: none;
}

.ui-topbar {
    flex-direction: row;
    height: 20px;
    width: 100%;
    border: solid transparent;
    border-width: 0 0 1px;
    box-sizing: border-box;
    background-color: #1899D6;
    padding-left: 10px;
    padding-right: 10px;
}



.ui-topbar-button {
    pointer-events: auto;
    background-color: #1899D6;
    border: solid transparent;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin-left: 4px;
    margin-right: 4px;
    outline: none;
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.ui-topbar-button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.ui-topbar-button:focus {
    user-select: auto;
}

.ui-topbar-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}



.ui-bottombar {
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


.ui-context {
    pointer-events: auto;
    background-color: #1899D6;
    border: solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 10px 15px;
    text-align: left;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    width: 33.3%;
    height: 100%;
    white-space: pre-wrap;
}

.ui-context:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    bottom: 0;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: -1;
}

.ui-context:focus {
    user-select: auto;
}

.ui-context:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}


.ui-context-button {
    pointer-events: auto;
    background-color: #1899D6;
    border: solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 10px 15px;
    text-align: left;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    width: 33.3%;
    height: 100%;
    white-space: pre-wrap;
}

.ui-context-button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    bottom: 0;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: -1;
}

.ui-context-button:focus {
    user-select: auto;
}

.ui-context-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}


