html, 
body,
#root {
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    background-color: cadetblue;
}

body {
  margin: 0;
    font-family: inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.actor-label {
    border-radius: 5px;
    background: cornflowerblue;
}